<div class="container">
<!--- Add your own codes here for what you'd like to see appear on the STAFF page -->
    <div class="row">
        <table class="table table-bordered">
            <tr></tr>
            {{#each donation}}
                <tr>
                    <td>Donation ID: {{id}}</td>
                    {{#if name}}
                    <td>Name: {{name}}</td>
                    {{else}}
                    <td>Name: Anonymous</td>
                    {{/if}}
                    <td>Email: {{email}}</td>
                    <td>Amount: {{amount}}</td>
                    <td class="date">Donated on: {{formatDate dateDonated "DD/MM/YYYY"}}</td>
                </tr>
                <tr>
                    {{#if message}}
                    <td colspan="5">Message: {{message}}</td>
                    {{else}}
                    <td>Message: NiL</td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    </div>
</div>